body {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
  margin: 0px;
}

#gridWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 512px;
  height: 512px;
}

.cell {
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: #F0EDB4;
}

#colorButtonWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.colorButton {
  width: 50px;
  height: 50px;
}

#colorIndicator {
  width: 50px;
  height: 50px;
}